@model ExpensesLogger.Models.Expense
@{
    ViewBag.Title = "EnterExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EnterExpenses</h2>
@using (Html.BeginForm("Update", "Home"))
{
<table class="table tab-content table-bordered">

    <tr>
        <td>#</td>
        <td>@Html.LabelFor(m => m.Food)</td>
        <td>@Html.LabelFor(m => m.Clothing)</td>
        <td>@Html.LabelFor(m => m.Electronics)</td>
        <td>@Html.LabelFor(m => m.Gasoline)</td>
        <td>@Html.LabelFor(m => m.Travel)</td>
        <td>@Html.LabelFor(m => m.Other)</td>
    </tr>
    <tr>
        <td>Before</td>
        <td>@Html.TextBoxFor(m => m.Food, new {disabled="disabled"})</td>
        <td>@Html.TextBoxFor(m => m.Clothing, new { disabled = "disabled" })</td>
        <td>@Html.TextBoxFor(m => m.Electronics, new { disabled = "disabled" })</td>
        <td>@Html.TextBoxFor(m => m.Gasoline, new { disabled = "disabled" })</td>
        <td>@Html.TextBoxFor(m => m.Travel, new { disabled = "disabled" })</td>
        <td>@Html.TextBoxFor(m => m.Other, new { disabled = "disabled" })</td>
    </tr>
    <tr>
        <td>New</td>
        <td> <input id="Food" name="Food" type="text"/> </td>
        <td> <input id="Clothing" name="clothing" type="text"/> </td>
        <td> <input id="Electronics" name="Electronics" type="text"/> </td>
        <td> <input id="Gasoline" name="Gasoline" type="text"/> </td>
        <td> <input id="Travel" name="Travel" type="text"/> </td>
        <td> <input id="Other" name="Food" type="Other"/> </td>
    </tr>
</table>
    @Html.HiddenFor(e => e.Id)
    <button type="submit" class="btn btn-primary">Update</button>
}

